body {
  background-color: rgb(0, 29, 61);
  color: white;
}
.titleBar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.rightSide {
  display: flex;
  margin-right: 50px;
  font-size: 1.5em;
  color: rgb(0, 93, 136);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rightSide > div {
  margin-right: 10px;
}

h1 {
  display: inline-flex;
  margin: 10px;
}

h2 {
  text-align: center;
}

.container1 {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 20px;
  border: 5px solid rgb(255, 255, 255);
  background-color: rgb(0, 148, 216);
  border-radius: 8px;
}

.introParagraph {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5em;
}

.equipment {
  display: flex;
  justify-content: space-evenly;
  font-style: italic;
  background-color: rgb(0, 148, 216);
  font-size: 1.5em;
  border: 5px solid rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
}

.clubsVideo {
  display: flex;
  justify-content: center;
  padding: 20px;
}
